<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.org.ceindetec.derumba">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DeRumbaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <!--Activities Modulo Login-->

        <!--Login Main-->

        <activity android:name=".modules.login.ui.LoginMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad requerida para el uso del Login de Facebook -->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--Login opcion usuario DeRumba-->


        <!--Creacion de usuario-->

        <activity
            android:name=".modules.login.ui.SignUpActivity"
            android:parentActivityName=".modules.login.ui.LoginMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modules.login.ui.LoginMainActivity" />
        </activity>

        <!--Activities Modulo PlayList-->

        <activity
            android:name=".modules.playlist.ui.PlayListActivity"
            android:label="@string/playList.activity.title"
            android:parentActivityName=".modules.login.ui.LoginMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>